/* Tables */
/* line 78, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_extensions/zurb-foundation-4.0.8/scss/foundation/components/_tables.scss */
/* line 4, ../sass/tb.scss */
table {
  background: none;
  margin-bottom: 1.25em;
}

/* line 41, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_extensions/zurb-foundation-4.0.8/scss/foundation/components/_tables.scss */
/* line 11, ../sass/tb.scss */
table thead,
table tfoot {
  background: whitesmoke;
  font-weight: bold;
}

/* line 47, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_extensions/zurb-foundation-4.0.8/scss/foundation/components/_tables.scss */
/* line 19, ../sass/tb.scss */
table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
  padding: 0.5em 0.625em 0.625em;
  font-size: 0.875em;
  color: #222222;
  text-align: left;
}

/* line 58, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_extensions/zurb-foundation-4.0.8/scss/foundation/components/_tables.scss */
/* line 27, ../sass/tb.scss */
table tr th,
table tr td {
  padding: 0.5625em 0.625em;
  font-size: 0.875em;
  color: #222222;
}

/* line 66, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_extensions/zurb-foundation-4.0.8/scss/foundation/components/_tables.scss */
/* line 33, ../sass/tb.scss */
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #f9f9f9;
}

/* line 73, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_extensions/zurb-foundation-4.0.8/scss/foundation/components/_tables.scss */
/* line 41, ../sass/tb.scss */
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  display: table-cell;
  line-height: 1.125em;
}
