$topbar-bg: #fff;
$topbar-height: 50px;
$topbar-margin-bottom: em-calc(10);

.top-bar-section ul li > a.button.register {
  @include button-style ($bg:#fc4f00);
}

.top-bar .title-area .name{
	padding-left: 10px;
}

.button{
@include button-style ($bg:#fc4f00);
}

